<% wrap_layout :layout do %>
  <main>
    <article>
      <h1>
        <%= current_article.title %>
        <small><%= current_article.date.strftime('%b %e, %Y') %></small>
      </h1>

      <figure class="profile small">
        <%= image_tag 'luca_ongaro.png', alt: 'Luca Ongaro' %>
        <figcaption>
          I am Luca Ongaro, engineer. I like to make software things. I love
          being surprised by a clever solution to a difficult problem, and I
          revere the scientific method.
        </figcaption>
      </figure>

      <%= yield %>
    </article>

    <aside class="tags">
      <ul>
        <% current_article.tags.each do |tag| %>
          <li><%= link_to tag, tag_path(tag) %></li>
        <% end %>
      </ul>
    </aside>
  <% end %>
</main>
