<% wrap_layout :layout do %>
  <main>
    <article>
      <h1>
        <%= current_article.title %>
        <small><%= current_article.date.strftime('%b %e, %Y') %></small>
      </h1>

      <figure class="profile small">
        <%= image_tag 'luca_ongaro.png', alt: 'Luca Ongaro' %>
        <figcaption>
          I am Luca Ongaro, engineer. I build software things and I am a science
          enthusiast.
          <br>
          <%= link_to 'RSS Feed', '/blog/feed.xml', class: 'button', target: '_blank' %>
        </figcaption>
      </figure>

      <%= yield %>
    </article>

    <aside class="tags">
      <ul>
        <% current_article.tags.each do |tag| %>
          <li><%= link_to tag, tag_path(tag) %></li>
        <% end %>
      </ul>
    </aside>
  <% end %>
</main>
