---
pageable: true
---

<main>
  <section>
    <h1>Archive for
      <% case page_type
         when 'day' %>
        <%= Date.new(year, month, day).strftime('%b %e %Y') %>
      <% when 'month' %>
        <%= Date.new(year, month, 1).strftime('%B %Y') %>
      <% when 'year' %>
        <%= year %>
      <% end %>
    </h1>

    <ul>
      <% page_articles.each_with_index do |article, i| %>
        <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e, %Y') %></span></li>
      <% end %>
    </ul>

    <% if paginate %>
      <nav class="pagination">
        <% if prev_page %>
          <%= link_to '&#8826; newer posts', prev_page %>
        <% else %>
          <span>previous page</span>
        <% end %>

        <% if next_page %>
          <%= link_to 'older posts &#8827;', next_page %>
        <% else %>
          <span>next page</span>
        <% end %>
      </nav>
    <% end %>
  </section>
</main>
