---
pageable: true
per_page: 10
---

<main>
  <% if !paginate || page_number == 1 %>
    <figure class="profile">
      <%= image_tag 'luca_ongaro.png', alt: 'Luca Ongaro' %>
      <figcaption>
        I am Luca Ongaro, engineer. I like to make software things. I love
        being surprised by a clever solution to a difficult problem, and I
        revere the scientific method.
      </figcaption>
    </figure>
  <% end %>

  <article>
    <% if !paginate || page_number > 1 %>
      <h1>Past Blog Posts</h1>
    <% end %>

    <ol class="latest-posts">
      <% page_articles.each_with_index do |article, i| %>
        <li>
          <h2><%= link_to article.title, article %> <small><%= article.date.strftime('%b %e, %Y') %></small></h2>
          <%= article.summary(300, '…') %>
          <span class="read-more"><%= link_to 'read full post', article %></span>
        </li>
      <% end %>
    </ol>
  </article>

  <% if paginate %>
    <nav class="pagination">
      <% if prev_page %>
        <%= link_to '&#8826; newer posts', prev_page %>
      <% else %>
        <span>previous page</span>
      <% end %>

      <% if next_page %>
        <%= link_to 'older posts &#8827;', next_page %>
      <% else %>
        <span>next page</span>
      <% end %>
    </nav>
  <% end %>
</main>
