---
pageable: true
per_page: 10
---

<main>
  <% if !paginate || page_number == 1 %>
    <figure class="profile">
      <%= image_tag 'luca_ongaro.png', alt: 'Luca Ongaro' %>
      <figcaption>
        I am Luca Ongaro, software engineer and web developer. I am fond of algorithms and data structures, data science and writing Elixir, Clojure, Ruby, Scala, JavaScript, Rust and more.
      </figcaption>
    </figure>
  <% end %>

  <article>
    <% if !paginate || page_number > 1 %>
      <h1>Past Blog Posts</h1>
    <% end %>

    <ol class="latest-posts">
      <li>
        <% page_articles.each_with_index do |article, i| %>
          <h2><%= link_to article.title, article %> <small><%= article.date.strftime('%b %e, %Y') %></small></h2> 
          <%= article.summary(300, '…') %>
          <span class="read-more"><%= link_to 'read full post', article %></span>
        <% end %>
      </li>
    </ol>
  </article>

  <% if paginate %>
    <nav class="pagination">
      <% if prev_page %>
        <%= link_to '&#8826; newer posts', prev_page %>
      <% else %>
        <span>previous page</span>
      <% end %>

      <% if next_page %>
        <%= link_to 'older posts &#8827;', next_page %>
      <% else %>
        <span>next page</span>
      <% end %>
    </nav>
  <% end %>
</main>
