<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Luca Ongaro<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= stylesheet_link_tag 'main' %>
    <% unless current_article.nil? %>
      <%= stylesheet_link_tag 'highlighting' %>
    <% end %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Martel|Source+Code+Pro" rel="stylesheet">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <nav>
        <h1><b>Luca Ongaro</b></h1>
        <ol>
          <li><a href="/">Blog</a></li>
          <li><a href="/contact_me.html">Contact Me</a></li>
        </ol>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <span><%= link_to 'RSS feed', '/blog/feed.xml' %></span>
      <span>&copy; Luca Ongaro</span>
    </footer>
  </body>
</html>
